*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* HERO SECTION */
.image{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;


}
img{
    width: 100%;
    height: 100vh;
    float: left;
}

.slide{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
     scroll-snap-type: x mandatory;
     scroll-behavior: smooth;
}

.slide img{
    flex: 1 0 100%;
        scroll-snap-align: start;
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity:0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover{
    opacity: 1;
}



h1{
     position: absolute;
    top: 25%;
    left: 10%;
    color: black;
    font-size: 4rem;
    padding: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    

}

p{
    position: absolute;
    top: 38%;
    left: 17%;
    font-size: 1.5rem;
    padding: 5px;
    font-weight: 400;
    line-height: 1;
    font-family: "Poppins", sans-serif;
}

button{
    position: absolute;
    top: 45%;
    left: 30%;
    font-weight: 400;
    font-size: 1.5rem;
    background-color: black;
    color: white;
    border-radius: 8rem;
    border: 0.5rem solid black;
    padding: 0.3rem;
    font-family: "Poppins", sans-serif;
   
    
}

button:hover{
    background-color:palegoldenrod;
    color: black;
    cursor: pointer;
    border: 0.5rem solid palegoldenrod;
    transition: all 0.5s ease;
}



  /* FEATURES SECTION */
.heading{
    position: relative;
    overflow: hidden;
    object-fit: cover;
  margin: 3rem ;
  font-size: 2rem;
  gap: -2rem;
  color: #0F172A;
  text-align: center;



}

.features-section{
    position: relative;
    margin-bottom: 2rem; 


}


.grid-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cards{
    width: 300px;
    background-color:#FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    border: 1rem solid  #D0E8F2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.cards:hover{
    cursor: pointer;
    /* border-color: #1DA1F2;    */
    border-color: #14B8A6;

    border-radius:  4rem;
    transition: all 0.5s ease;
}




.img-features{
    width: 200px;
    height: 250px;
    object-fit: cover;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}


.para{
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin-right: 4rem;
    margin-left: -2rem;
    padding: 0.5rem;
    color: #475569;


}

/* FOOTER */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 4rem;
    
}

.footer-social-icons{
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.social-icons{
    width: 30px;
    height: 30px;
}

.footer-end{
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    position: relative;
    margin-left: -15rem;
    margin-right: 15rem;
}

.heart{
    color: red;
    font-size: 1.5rem;
}